<div class="row p-3 mb-3 align-items-center">
  <div class="col-1">
    <h4 class="align-middle">{{ card.id }}</h4>
  </div>
  <div class="col-4">
    <h4 class="align-middle">{{ card.nombreCard }}</h4>
  </div>
  <div class="col-3">
    <h4 class="align-middle">{{ card.nombreHermandad }}</h4>
  </div>
  <div class="col-2">
    <h4 class="align-middle">{{ getFormattedTipo() }}</h4>
  </div>
  <div class="col-1">
    <button class="btn btn-primary" type="submit">Editar</button>
  </div>
  <div class="col-1">
    <button class="btn btn-danger" type="button" (click)="onDelete()">
      Eliminar
    </button>
  </div>
</div>
