.caja{
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h4{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
}

.row{
    text-align: center;
    background-color: #F4F4F4;
    border-radius: 16px;
    
}

.escudo{
    height: 80px;
    width: 80px;
    border-radius: 100px;
    background-color: gray;
}

.titulo-hermandad{
    font-size: 32px;
}
