<div class="row p-3 mb-3 align-items-center">
  <div class="col-1">
    <div class="escudo">
      <img src="null" width="100%" alt="" class="rounded-circle" />
    </div>
  </div>
  <div class="col-4">
    <h4 class="align-middle">{{ banda.nombre }}</h4>
  </div>
  <div class="col-2">
    <h4 class="align-middle">{{ getFormattedTipo() }}</h4>
  </div>
  <div class="col-3">
    <h4 class="align-middle">{{ getFormattedNumHdades() }}</h4>
  </div>
  <div class="col-1">
    <button class="btn btn-primary" type="submit">Editar</button>
  </div>
  <div class="col-1">
    <button class="btn btn-danger" type="submit">Eliminar</button>
  </div>
</div>
