<div class="container-fluid">
  <div class="row">
    <nav class="col-md-3 col-lg-2 d-md-block sidebar">
      <div class="vertical-nav" id="sidebar">
        <div class="py-4 px-3 mb-4">
          <div class="media d-flex align-items-center">
            <img
              [src]="currentUser.profilePicture"
              alt="Profile Picture"
              width="48"
              height="48"
              class="mr-3 rounded"
              style="border-radius: 12px;"
            />
            <div class="media-body">
              <h4 style="font-size: 20px;">{{ currentUser.username }}</h4>
              <h4 style="font-size: 14px;">{{ currentUser.nombreHermandad }}</h4>
            </div>
          </div>
        </div>
        
        <div class="nav-icons">
          <ul class="nav flex-column mb-0">
            <li class="nav-item">
              <a
                routerLink="/admin/home"
                [ngClass]="{
                  active: isHomeRouteActive(),
                  inactive: !isHomeRouteActive()
                }"
                class="nav-link home d-flex align-items-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="35"
                  height="35"
                  fill="currentColor"
                  class="bi bi-house-door"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"
                  />
                </svg>
                <span class="align-title">Inicio</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/admin/hermandades"
                [ngClass]="{
                  active: isHermandadesRouteActive(),
                  inactive: !isHermandadesRouteActive()
                }"
                class="nav-link movies d-flex align-items-center"
              >
                <img src="../../../assets/icono_hdades.png" width="35px" alt="">
                <span class="align-title">Hermandades</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/admin/bandas"
                [ngClass]="{
                  active: isBandasRouteActive(),
                  inactive: !isBandasRouteActive()
                }"
                class="nav-link actors d-flex align-items-center"
              >
                <img src="../../../assets/icono_bandas.png" width="35px" alt="">
                <span class="align-title">Bandas</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/admin/cards"
                [ngClass]="{
                  active: isCardsRouteActive(),
                  inactive: !isCardsRouteActive()
                }"
                class="nav-link tvshows d-flex align-items-center"
              >
                <img src="../../../assets/icono_cards.png" width="35px" alt="">
                <span class="align-title">Cards</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/admin/users"
                [ngClass]="{
                  active: isUsersRouteActive(),
                  inactive: !isUsersRouteActive()
                }"
                class="nav-link trending d-flex align-items-center"
              >
                <img src="../../../assets/icono_users.png" width="35px" alt="">
                <span class="align-title">Usuarios</span>
              </a>
            </li>
  
            
          </ul>
        </div>
        <div class="p-3">
          <button class="btn btn-danger btn-block" (click)="logout()">Logout</button>
        </div>
      </div>
    </nav>
  </div>
</div>
